In [1]:
a="my name is Sambit Kumar Jena",[26,"Dog",True],3.141,(999,"Bunty")

In [2]:
a

('my name is Sambit Kumar Jena', [26, 'Dog', True], 3.141, (999, 'Bunty'))

In [3]:
var1=''

In [4]:
type(var1)

str

In [6]:
var2='[DS,ML,PYTHON]'

In [7]:
type(var2)

str

In [8]:
var3=['DS','ML','PYTHON']

In [9]:
type(var3)

list

In [10]:
var4=1

In [11]:
type(var4)

int

In [12]:
# / (Division) operator
x=27
y=9
x/y

3.0

In [13]:
# % (Modulus) operator
a=30
b=23
a%b

7

In [14]:
# // (Floor division) operator
x=44
y=13
x//y

3

In [15]:
# creation list and use of "for" loop
l=["mango",2023,"lion","India","Sambit",True,3.144,"26-sept-1999","Utkal University",3j-9]
for i in l:
    print(i)
    print(type(i))

mango
<class 'str'>
2023
<class 'int'>
lion
<class 'str'>
India
<class 'str'>
Sambit
<class 'str'>
True
<class 'bool'>
3.144
<class 'float'>
26-sept-1999
<class 'str'>
Utkal University
<class 'str'>
(-9+3j)
<class 'complex'>

In [30]:
#Use of while loops
A=int(input("enter A:"))
B=int(input("enter B:"))
i=0
while A%B==0:
    A=A/B
    i+=1
    print("the number A is purely divisible by number B ",i," times it can be divisible")

enter A:120
enter B:3
the number A is purely divisible by number B  1  times it can be divisible

In [33]:
#Use of if.....else condition and for loop
l1=[12,11,17,13,122,143,181,81,91,1222,18,123,13,141,15,16,17,10,3,45,57,88,90,1,900]

for i in l1:
    if (i%3==0):
        print(i," is divisible by 3")
    else:
        print(i," is not divisible by 3")

12  is divisible by 3
11  is not divisible by 3
17  is not divisible by 3
13  is not divisible by 3
122  is not divisible by 3
143  is not divisible by 3
181  is not divisible by 3
81  is divisible by 3
91  is not divisible by 3
1222  is not divisible by 3
18  is divisible by 3
123  is divisible by 3
13  is not divisible by 3
141  is divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
10  is not divisible by 3
3  is divisible by 3
45  is divisible by 3
57  is divisible by 3
88  is not divisible by 3
90  is divisible by 3
1  is not divisible by 3
900  is divisible by 3

In [38]:
#Immutable data type - The data types whose values can not be modified once they are created.
#example - strings and tuples
str1= "sambit kumar jena"
str1

'sambit kumar jena'

In [39]:
tuple1=(13,"sambit",True,3.11)
tuple1

(13, 'sambit', True, 3.11)

In [40]:
#Mutable data type - The data types whose values can be modified once they are created.
#example - list
list1=[" hello guys","sambit",22,19.90+20j]
list1

[' hello guys', 'sambit', 22, (19.9+20j)]

In [41]:
list1[2]="PW skills"
list1

[' hello guys', 'sambit', 'PW skills', (19.9+20j)]